*{
  font-family: sans-serif;
  outline: none;
}

.searchbar-wrapper{
  width:400px;
  margin: auto;
  margin-top: 120px;
}

$dark: #8993b3;
$gray: #d8dbe9;

#seachbar{
  position: relative;
  font-family: sans-serif;
  input{
    width: 100%;
    font-size: 20px;
    padding: 10px 60px 10px 20px;
    box-sizing: border-box;
    color:$dark;
    margin: 0;
    font-weight: 100;
    border: 1px solid $gray;
    outline: none;
  }
  button{
    position: absolute;
    top:0px;
    right:0px;
    width:44px;
    height: 44px;
    background-color: $gray;
    border: none;

    color: $dark;
  }
  rs-wrapper{
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    -webkit-box-shadow: 0px 6px 39px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 6px 39px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 6px 39px 0px rgba(0,0,0,0.11);
    display: none;
    //display: block;
    &.shown{
      display: block;
    }

  }
  rs-item{
    width: 100%;
    padding: 20px;
    display: block;
    font-weight: 100;
    transition: background-color 0.5s ease;
    background-color: white;
    color: $dark;
    box-sizing: border-box;

    &:hover{
      background-color: $gray;
    }
  }

  rs-item-selected{
    font-weight: 900;
  }
}

.clickable{
  cursor: pointer;
}

.result-item{
  padding: 10px;
  color: $dark;
  margin-bottom: 10px;
}